.App {
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.impressive-page {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text horizontally */
}

.impressive-page h1 {
  color: #333;
}

.impressive-page p {
  color: #666;
}